.dp__container {
  width: 100%;
  padding: 50px 0;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dp__container .dp__container__wrap {
  width: 1170px;
}

.dp__container .dp__container__wrap .dp__container__wrap__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 180px;
}

.dp__container .dp__container__wrap .dp__container__wrap__header .dp__container__wrap__header__logo img {
  width: 140px;
}

.dp__container .dp__container__wrap .dp__container__wrap__header .dp__container__wrap__header__profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dp__container .dp__container__wrap .dp__container__wrap__header .dp__container__wrap__header__profile h3 {
  font-size: 21px;
  margin-right: 30px;
}

.dp__container .dp__container__wrap .dp__container__wrap__header .dp__container__wrap__header__profile .dp__container__wrap__header__profile__photo {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: springgreen;
}

.dp__container .dp__container__wrap .dp__container__wrap__title {
  width: 100%;
  height: 130px;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dp__container .dp__container__wrap .dp__container__wrap__title .head-1 {
  font-size: 50px;
  color: #05AFBE;
}

.dp__container .dp__container__wrap .dp__container__wrap__title .head-2 {
  font-size: 45px;
  color: #000000;
}

.dp__container .dp__container__wrap .dp__container__wrap__step {
  width: 100%;
  height: 160px;
  background-color: #ffffff;
  border: 1px solid #EDEDED;
  border-radius: 8px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dp__container .dp__container__wrap .dp__container__wrap__step .dp__container__wrap__step__box {
  width: 760px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dp__container .dp__container__wrap .dp__container__wrap__step .dp__container__wrap__step__box .dp__container__wrap__step__box__content {
  width: 142px;
  height: 72px;
  background-color: #ffffff;
  border: 1px solid #dadada;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dp__container .dp__container__wrap .dp__container__wrap__step .dp__container__wrap__step__box .dp__container__wrap__step__box__content p {
  font-size: 18px;
}

.dp__container .dp__container__wrap .dp__container__wrap__step .dp__container__wrap__step__box .dp__container__wrap__step__box__content img {
  width: 18px;
  color: #000;
}

.dp__container .dp__container__wrap .dp__container__wrap__step .dp__container__wrap__step__box .dp__container__wrap__step__box__content.active {
  background-color: #05AFBE;
  color: #ffffff;
}

@media (max-width: 1279px) {
  .dp__container .dp__container__wrap {
    width: 91.406vw;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__header {
    height: 180px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__header .dp__container__wrap__header__logo img {
    width: 140px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__header .dp__container__wrap__header__profile h3 {
    font-size: 21px;
    margin-right: 30px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__header .dp__container__wrap__header__profile .dp__container__wrap__header__profile__photo {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: springgreen;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__title {
    width: 100%;
    height: 130px;
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__title .head-1 {
    font-size: 45px;
    color: #05AFBE;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__title .head-2 {
    font-size: 40px;
    color: #000000;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__step {
    height: 160px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__step .dp__container__wrap__step__box {
    width: 760px;
    height: 120px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__step .dp__container__wrap__step__box .dp__container__wrap__step__box__content {
    width: 142px;
    height: 72px;
    border-radius: 8px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__step .dp__container__wrap__step__box .dp__container__wrap__step__box__content p {
    font-size: 18px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__step .dp__container__wrap__step__box .dp__container__wrap__step__box__content img {
    width: 18px;
    color: #000;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__step .dp__container__wrap__step__box .dp__container__wrap__step__box__content.active {
    background-color: #05AFBE;
    color: #ffffff;
  }
}

@media (max-width: 700px) {
  .dp__container .dp__container__wrap .dp__container__wrap__header {
    height: 90px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__header .dp__container__wrap__header__profile h3 {
    font-size: 18px;
    margin-right: 24px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__header .dp__container__wrap__header__profile .dp__container__wrap__header__profile__photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__title {
    width: 100%;
    height: 90px;
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__title .head-1 {
    font-size: 36px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__title .head-2 {
    font-size: 32px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__step {
    height: 120px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__step .dp__container__wrap__step__box {
    width: 540px;
    height: 90px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__step .dp__container__wrap__step__box .dp__container__wrap__step__box__content {
    width: 85px;
    height: 58px;
    border-radius: 4px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__step .dp__container__wrap__step__box .dp__container__wrap__step__box__content p {
    font-size: 12px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__step .dp__container__wrap__step__box .dp__container__wrap__step__box__content img {
    width: 12px;
    color: #000;
  }
}

@media (max-width: 540px) {
  .dp__container .dp__container__wrap .dp__container__wrap__header {
    height: 25px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__header .dp__container__wrap__header__logo img {
    width: 110px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__header .dp__container__wrap__header__profile h3 {
    font-size: 12px;
    margin-right: 10px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__header .dp__container__wrap__header__profile .dp__container__wrap__header__profile__photo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__title {
    width: 100%;
    height: 70px;
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__title .head-1 {
    font-size: 28px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__title .head-2 {
    font-size: 24px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__step {
    height: 80px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__step .dp__container__wrap__step__box {
    width: 320px;
    height: 90px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__step .dp__container__wrap__step__box .dp__container__wrap__step__box__content {
    width: 65px;
    height: 40px;
    border-radius: 4px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__step .dp__container__wrap__step__box .dp__container__wrap__step__box__content p {
    font-size: 9px;
  }
  .dp__container .dp__container__wrap .dp__container__wrap__step .dp__container__wrap__step__box .dp__container__wrap__step__box__content img {
    width: 9px;
  }
}
/*# sourceMappingURL=dataContainer.css.map */