// STYLING BARU 

.edu__container {
    width: 100%;
    padding: 50px 0;
    background-color: #ffffff;
    border: 1px solid #EDEDED;
    border-radius: 8px;
    margin-top: 20px;
    padding-top: 90px;
    display: flex;
    justify-content: center;

    .edu__container__wrap {
        width: 960px;

        .edu-latarbelakang {
            padding: 10px 105px;
            margin: 0 -105px;
            background-color: #05AFBE;
            h2 {
                font-size: 25px;
                color: #ffffff;
            }
        }

        // SD , SMP , SMA

        .edu-latarbelakang-sd,.edu-latarbelakang-smp,.edu-latarbelakang-sma {
            padding: 20px 0;
            h3 {
                font-size: 22px;
            }
        }

        .workshop,
        .prestasi,
        .bahasa,
        .organisasi,
        .talent {
            display: none;
        }

        .edu-form {
            padding: 20px 0;
            .edu-form-1,.edu-form-2,.edu-form-3 {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
                .edu-form-1-name,
                .edu-form-2-provinsi,
                .edu-form-2-kota,
                .edu-form-3-tahunmasuk,
                .edu-form-3-tahunkeluar,
                .edu-form-1-short,
                .edu-form-2-short,
                .edu-form-3-short {
                    p {
                        font-size: 18px;
                        margin-bottom: 10px;
                    }
                    input {
                        width: 401px;
                        height: 48px;
                        padding-left: 10px;
                    }
                }
                .edu-form-3-short-x {
                    p {
                        font-size: 18px;
                        margin-bottom: 10px;
                    }
                    input {
                        width: 401px;
                        height: 48px;
                        padding-left: 10px;
                        border: #000;
                    }
                }
                .edu-form-1-long,
                .edu-form-2-long,
                .edu-form-3-long {
                    p {
                        font-size: 18px;
                        margin-bottom: 10px;
                    }
                    input {
                        width: 960px;
                        height: 48px;
                        padding-left: 10px;
                    }
                }
            }
        }

        .edu-plus-workshop, .edu-plus-prestasi, .edu-plus-bahasa, .edu-plus-organisasi, .edu-plus-talent {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 401px;
            height: 48px;
            margin: 50px 0;
            padding: 0 10px;
            border: dotted 1px;
            cursor: pointer;
        }

        .edu-button {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 25px 0;
            transition: ease 0.2s;

            button {
                width: 160px;
                height: 56px;
                border-radius: 8px;
                margin-left: 20px;
                cursor: pointer;
            }
            button:active {
                outline: none;
                transition: ease 0.2s;
                transform: translateY(2px);
            }
            button:nth-child(1) {
                border: 2px solid #FECF60;
                background-color: #ffffff;
            }
            button:nth-child(2) {
                border: none;
                background-color: #05AFBE;
                color: #ffffff;
            }
        }
    }
}

@media (max-width: 1279px) {
    .edu__container {
        width: 100%;
        padding: 50px 0;
        margin-top: 20px;
        padding-top: 50px;
    
        .edu__container__wrap {
            width: 75vw;
    
            .edu-latarbelakang {
                padding: 10px 10%;
                margin: 0 -11%;
                h2 {
                    font-size: 22px;
                }
            }
    
            // SD , SMP , SMA
    
            .edu-latarbelakang-sd,.edu-latarbelakang-smp,.edu-latarbelakang-sma {
                padding: 20px 0;
                h3 {
                    font-size: 20px;
                }
            }
    
            .edu-form {
                padding: 20px 0;
                .edu-form-1,.edu-form-2,.edu-form-3 {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    .edu-form-1-name,
                    .edu-form-2-provinsi,
                    .edu-form-2-kota,
                    .edu-form-3-tahunmasuk,
                    .edu-form-3-tahunkeluar,
                    .edu-form-1-short,
                    .edu-form-2-short,
                    .edu-form-3-short {
                        p {
                            font-size: 18px;
                            margin-bottom: 10px;
                        }
                        input {
                            width: 31.328vw;
                            height: 48px;
                            padding-left: 10px;
                        }
                    }
                    .edu-form-3-short-x {
                        p {
                            font-size: 18px;
                            margin-bottom: 10px;
                        }
                        input {
                            width: 31.328vw;
                            height: 48px;
                            padding-left: 10px;
                        }
                    }
                    .edu-form-1-long,
                    .edu-form-2-long,
                    .edu-form-3-long {
                        p {
                            font-size: 18px;
                            margin-bottom: 10px;
                        }
                        input {
                            width: 75vw;
                            height: 48px;
                            padding-left: 10px;
                        }
                    }
                }
            }

            .edu-plus-workshop, .edu-plus-prestasi, .edu-plus-bahasa, .edu-plus-organisasi, .edu-plus-talent {
                width: 31.328vw;
                height: 48px;
                margin-top: 45px;
                padding: 0 10px;
                font-size: 12px;
                img {
                    width: 25px;
                    margin-right: 10px;
                }
            }
    
            .edu-button {
                padding: 25px 0;

                button {
                    width: 160px;
                    height: 56px;
                    border-radius: 4px;
                    margin-left: 20px;
                }
            }
        }
    }
}

@media(max-width: 700px) {
    .edu__container {
        width: 100%;
        padding: 50px 0;
        margin-top: 20px;
        padding-top: 50px;
    
        .edu__container__wrap {
            width: 75vw;
    
            .edu-latarbelakang {
                padding: 10px 10%;
                margin: 0 -11%;
                h2 {
                    font-size: 20px;
                }
            }
    
            // SD , SMP , SMA
    
            .edu-latarbelakang-sd,.edu-latarbelakang-smp,.edu-latarbelakang-sma {
                padding: 20px 0;
                h3 {
                    font-size: 18px;
                }
            }
    
            .edu-form {
                padding: 20px 0;
                .edu-form-1,.edu-form-2,.edu-form-3 {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 20px;
                    .edu-form-1-name,
                    .edu-form-2-provinsi,
                    .edu-form-2-kota,
                    .edu-form-3-tahunmasuk,
                    .edu-form-3-tahunkeluar,
                    .edu-form-1-short,
                    .edu-form-2-short,
                    .edu-form-3-short {
                        p {
                            font-size: 14px;
                            margin-bottom: 10px;
                        }
                        input {
                            width: 34.328vw;
                            height: 48px;
                            padding-left: 10px;
                        }
                    }
                    .edu-form-3-short-x {
                        p {
                            font-size: 18px;
                            margin-bottom: 10px;
                        }
                        input {
                            width: 34.328vw;
                            height: 48px;
                            padding-left: 10px;
                        }
                    }
                    .edu-form-1-long,
                    .edu-form-2-long,
                    .edu-form-3-long {
                        p {
                            font-size: 18px;
                            margin-bottom: 10px;
                        }
                        input {
                            width: 75vw;
                            height: 48px;
                            padding-left: 10px;
                        }
                    }
                }
            }

            .edu-plus-workshop, .edu-plus-prestasi, .edu-plus-bahasa, .edu-plus-organisasi, .edu-plus-talent {
                width: 34.328vw;
                height: 48px;
                margin-top: 40px;
                padding: 0 10px;
                font-size: 12px;
                img {
                    width: 25px;
                    margin-right: 10px;
                }
            }
    
            .edu-button {
                padding: 25px 0;

                button {
                    width: 140px;
                    height: 46px;
                    border-radius: 4px;
                    margin-left: 20px;
                }
            }
        }
    }
}

@media (max-width:540px) {
    .edu__container {
        margin-top: 30px;
        padding-top: 30px;
    
        .edu__container__wrap {    
            .edu-latarbelakang {
                h2 {
                    font-size: 16px;
                }
            }
            // SD , SMP , SMA
            .edu-latarbelakang-sd,.edu-latarbelakang-smp,.edu-latarbelakang-sma {
                padding: 20px 0 5px 0;
                h3 {
                    font-size: 14px;
                }
            }
            .edu-form {
                padding: 20px 0;
                .edu-form-1,.edu-form-2,.edu-form-3 {
                    display: flex;
                    justify-content: space-evenly;
                    flex-direction: column;
                    margin-bottom: 0px;
                    .edu-form-1-name,
                    .edu-form-2-provinsi,
                    .edu-form-2-kota,
                    .edu-form-3-tahunmasuk,
                    .edu-form-3-tahunkeluar,
                    .edu-form-1-short,
                    .edu-form-2-short,
                    .edu-form-3-short {
                        p {
                            font-size: 14px;
                            margin-bottom: 10px;
                        }
                        input {
                            width: 75vw;
                            height: 36px;
                            padding-left: 10px;
                            margin-bottom: 20px;
                        }
                    }
                    .edu-form-3-short-x {
                        p {
                            font-size: 14px;
                            margin-bottom: 10px;
                        }
                        input {
                            width: 75vw;
                            height: 36px;
                            padding-left: 10px;
                            margin-bottom: 20px;
                        }
                    }
                    .edu-form-1-long,
                    .edu-form-2-long,
                    .edu-form-3-long {
                        p {
                            font-size: 14px;
                            margin-bottom: 10px;
                        }
                        input {
                            width: 75vw;
                            height: 36px;
                            padding-left: 10px;
                            margin-bottom: 20px;
                        }
                    }
                }
            }

            .edu-plus-workshop, .edu-plus-prestasi, .edu-plus-bahasa, .edu-plus-organisasi, .edu-plus-talent {
                width: 75vw;
                height: 48px;
                margin-top: 30px;
                padding: 0 10px;
                font-size: 12px;
                img {
                    width: 25px;
                    margin-right: 10px;
                }
            }
    
            .edu-button {
                padding: 25px 0;

                button {
                    width: 140px;
                    height: 46px;
                    border-radius: 4px;
                    margin-left: 20px;
                }
            }
        }
    }
}