.edu__container {
  width: 100%;
  padding: 50px 0;
  background-color: #ffffff;
  border: 1px solid #EDEDED;
  border-radius: 8px;
  margin-top: 20px;
  padding-top: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.edu__container .edu__container__wrap {
  width: 960px;
}

.edu__container .edu__container__wrap .edu-latarbelakang {
  padding: 10px 105px;
  margin: 0 -105px;
  background-color: #05AFBE;
}

.edu__container .edu__container__wrap .edu-latarbelakang h2 {
  font-size: 25px;
  color: #ffffff;
}

.edu__container .edu__container__wrap .edu-latarbelakang-sd, .edu__container .edu__container__wrap .edu-latarbelakang-smp, .edu__container .edu__container__wrap .edu-latarbelakang-sma {
  padding: 20px 0;
}

.edu__container .edu__container__wrap .edu-latarbelakang-sd h3, .edu__container .edu__container__wrap .edu-latarbelakang-smp h3, .edu__container .edu__container__wrap .edu-latarbelakang-sma h3 {
  font-size: 22px;
}

.edu__container .edu__container__wrap .workshop,
.edu__container .edu__container__wrap .prestasi,
.edu__container .edu__container__wrap .bahasa,
.edu__container .edu__container__wrap .organisasi,
.edu__container .edu__container__wrap .talent {
  display: none;
}

.edu__container .edu__container__wrap .edu-form {
  padding: 20px 0;
}

.edu__container .edu__container__wrap .edu-form .edu-form-1, .edu__container .edu__container__wrap .edu-form .edu-form-2, .edu__container .edu__container__wrap .edu-form .edu-form-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-name p,
.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-provinsi p,
.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-kota p,
.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-tahunmasuk p,
.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-tahunkeluar p,
.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-short p,
.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-short p,
.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-short p, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-name p,
.edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-provinsi p,
.edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-kota p,
.edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-tahunmasuk p,
.edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-tahunkeluar p,
.edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-short p,
.edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-short p,
.edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-short p, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-name p,
.edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-provinsi p,
.edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-kota p,
.edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-tahunmasuk p,
.edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-tahunkeluar p,
.edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-short p,
.edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-short p,
.edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-short p {
  font-size: 18px;
  margin-bottom: 10px;
}

.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-name input,
.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-provinsi input,
.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-kota input,
.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-tahunmasuk input,
.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-tahunkeluar input,
.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-short input,
.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-short input,
.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-short input, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-name input,
.edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-provinsi input,
.edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-kota input,
.edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-tahunmasuk input,
.edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-tahunkeluar input,
.edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-short input,
.edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-short input,
.edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-short input, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-name input,
.edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-provinsi input,
.edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-kota input,
.edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-tahunmasuk input,
.edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-tahunkeluar input,
.edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-short input,
.edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-short input,
.edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-short input {
  width: 401px;
  height: 48px;
  padding-left: 10px;
}

.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-short-x p, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-short-x p, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-short-x p {
  font-size: 18px;
  margin-bottom: 10px;
}

.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-short-x input, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-short-x input, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-short-x input {
  width: 401px;
  height: 48px;
  padding-left: 10px;
  border: #000;
}

.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-long p,
.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-long p,
.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-long p, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-long p,
.edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-long p,
.edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-long p, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-long p,
.edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-long p,
.edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-long p {
  font-size: 18px;
  margin-bottom: 10px;
}

.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-long input,
.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-long input,
.edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-long input, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-long input,
.edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-long input,
.edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-long input, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-long input,
.edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-long input,
.edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-long input {
  width: 960px;
  height: 48px;
  padding-left: 10px;
}

.edu__container .edu__container__wrap .edu-plus-workshop, .edu__container .edu__container__wrap .edu-plus-prestasi, .edu__container .edu__container__wrap .edu-plus-bahasa, .edu__container .edu__container__wrap .edu-plus-organisasi, .edu__container .edu__container__wrap .edu-plus-talent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 401px;
  height: 48px;
  margin: 50px 0;
  padding: 0 10px;
  border: dotted 1px;
  cursor: pointer;
}

.edu__container .edu__container__wrap .edu-button {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
}

.edu__container .edu__container__wrap .edu-button button {
  width: 160px;
  height: 56px;
  border-radius: 8px;
  margin-left: 20px;
  cursor: pointer;
}

.edu__container .edu__container__wrap .edu-button button:active {
  outline: none;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.edu__container .edu__container__wrap .edu-button button:nth-child(1) {
  border: 2px solid #FECF60;
  background-color: #ffffff;
}

.edu__container .edu__container__wrap .edu-button button:nth-child(2) {
  border: none;
  background-color: #05AFBE;
  color: #ffffff;
}

@media (max-width: 1279px) {
  .edu__container {
    width: 100%;
    padding: 50px 0;
    margin-top: 20px;
    padding-top: 50px;
  }
  .edu__container .edu__container__wrap {
    width: 75vw;
  }
  .edu__container .edu__container__wrap .edu-latarbelakang {
    padding: 10px 10%;
    margin: 0 -11%;
  }
  .edu__container .edu__container__wrap .edu-latarbelakang h2 {
    font-size: 22px;
  }
  .edu__container .edu__container__wrap .edu-latarbelakang-sd, .edu__container .edu__container__wrap .edu-latarbelakang-smp, .edu__container .edu__container__wrap .edu-latarbelakang-sma {
    padding: 20px 0;
  }
  .edu__container .edu__container__wrap .edu-latarbelakang-sd h3, .edu__container .edu__container__wrap .edu-latarbelakang-smp h3, .edu__container .edu__container__wrap .edu-latarbelakang-sma h3 {
    font-size: 20px;
  }
  .edu__container .edu__container__wrap .edu-form {
    padding: 20px 0;
  }
  .edu__container .edu__container__wrap .edu-form .edu-form-1, .edu__container .edu__container__wrap .edu-form .edu-form-2, .edu__container .edu__container__wrap .edu-form .edu-form-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-name p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-provinsi p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-kota p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-tahunmasuk p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-tahunkeluar p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-short p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-short p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-short p, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-name p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-provinsi p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-kota p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-tahunmasuk p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-tahunkeluar p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-short p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-short p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-short p, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-name p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-provinsi p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-kota p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-tahunmasuk p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-tahunkeluar p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-short p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-short p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-short p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-name input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-provinsi input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-kota input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-tahunmasuk input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-tahunkeluar input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-short input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-short input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-short input, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-name input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-provinsi input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-kota input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-tahunmasuk input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-tahunkeluar input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-short input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-short input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-short input, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-name input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-provinsi input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-kota input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-tahunmasuk input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-tahunkeluar input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-short input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-short input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-short input {
    width: 31.328vw;
    height: 48px;
    padding-left: 10px;
  }
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-short-x p, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-short-x p, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-short-x p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-short-x input, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-short-x input, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-short-x input {
    width: 31.328vw;
    height: 48px;
    padding-left: 10px;
  }
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-long p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-long p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-long p, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-long p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-long p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-long p, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-long p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-long p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-long p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-long input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-long input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-long input, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-long input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-long input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-long input, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-long input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-long input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-long input {
    width: 75vw;
    height: 48px;
    padding-left: 10px;
  }
  .edu__container .edu__container__wrap .edu-plus-workshop, .edu__container .edu__container__wrap .edu-plus-prestasi, .edu__container .edu__container__wrap .edu-plus-bahasa, .edu__container .edu__container__wrap .edu-plus-organisasi, .edu__container .edu__container__wrap .edu-plus-talent {
    width: 31.328vw;
    height: 48px;
    margin-top: 45px;
    padding: 0 10px;
    font-size: 12px;
  }
  .edu__container .edu__container__wrap .edu-plus-workshop img, .edu__container .edu__container__wrap .edu-plus-prestasi img, .edu__container .edu__container__wrap .edu-plus-bahasa img, .edu__container .edu__container__wrap .edu-plus-organisasi img, .edu__container .edu__container__wrap .edu-plus-talent img {
    width: 25px;
    margin-right: 10px;
  }
  .edu__container .edu__container__wrap .edu-button {
    padding: 25px 0;
  }
  .edu__container .edu__container__wrap .edu-button button {
    width: 160px;
    height: 56px;
    border-radius: 4px;
    margin-left: 20px;
  }
}

@media (max-width: 700px) {
  .edu__container {
    width: 100%;
    padding: 50px 0;
    margin-top: 20px;
    padding-top: 50px;
  }
  .edu__container .edu__container__wrap {
    width: 75vw;
  }
  .edu__container .edu__container__wrap .edu-latarbelakang {
    padding: 10px 10%;
    margin: 0 -11%;
  }
  .edu__container .edu__container__wrap .edu-latarbelakang h2 {
    font-size: 20px;
  }
  .edu__container .edu__container__wrap .edu-latarbelakang-sd, .edu__container .edu__container__wrap .edu-latarbelakang-smp, .edu__container .edu__container__wrap .edu-latarbelakang-sma {
    padding: 20px 0;
  }
  .edu__container .edu__container__wrap .edu-latarbelakang-sd h3, .edu__container .edu__container__wrap .edu-latarbelakang-smp h3, .edu__container .edu__container__wrap .edu-latarbelakang-sma h3 {
    font-size: 18px;
  }
  .edu__container .edu__container__wrap .edu-form {
    padding: 20px 0;
  }
  .edu__container .edu__container__wrap .edu-form .edu-form-1, .edu__container .edu__container__wrap .edu-form .edu-form-2, .edu__container .edu__container__wrap .edu-form .edu-form-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 20px;
  }
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-name p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-provinsi p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-kota p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-tahunmasuk p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-tahunkeluar p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-short p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-short p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-short p, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-name p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-provinsi p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-kota p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-tahunmasuk p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-tahunkeluar p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-short p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-short p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-short p, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-name p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-provinsi p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-kota p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-tahunmasuk p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-tahunkeluar p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-short p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-short p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-short p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-name input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-provinsi input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-kota input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-tahunmasuk input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-tahunkeluar input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-short input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-short input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-short input, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-name input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-provinsi input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-kota input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-tahunmasuk input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-tahunkeluar input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-short input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-short input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-short input, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-name input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-provinsi input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-kota input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-tahunmasuk input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-tahunkeluar input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-short input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-short input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-short input {
    width: 34.328vw;
    height: 48px;
    padding-left: 10px;
  }
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-short-x p, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-short-x p, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-short-x p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-short-x input, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-short-x input, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-short-x input {
    width: 34.328vw;
    height: 48px;
    padding-left: 10px;
  }
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-long p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-long p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-long p, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-long p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-long p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-long p, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-long p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-long p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-long p {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-long input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-long input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-long input, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-long input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-long input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-long input, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-long input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-long input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-long input {
    width: 75vw;
    height: 48px;
    padding-left: 10px;
  }
  .edu__container .edu__container__wrap .edu-plus-workshop, .edu__container .edu__container__wrap .edu-plus-prestasi, .edu__container .edu__container__wrap .edu-plus-bahasa, .edu__container .edu__container__wrap .edu-plus-organisasi, .edu__container .edu__container__wrap .edu-plus-talent {
    width: 34.328vw;
    height: 48px;
    margin-top: 40px;
    padding: 0 10px;
    font-size: 12px;
  }
  .edu__container .edu__container__wrap .edu-plus-workshop img, .edu__container .edu__container__wrap .edu-plus-prestasi img, .edu__container .edu__container__wrap .edu-plus-bahasa img, .edu__container .edu__container__wrap .edu-plus-organisasi img, .edu__container .edu__container__wrap .edu-plus-talent img {
    width: 25px;
    margin-right: 10px;
  }
  .edu__container .edu__container__wrap .edu-button {
    padding: 25px 0;
  }
  .edu__container .edu__container__wrap .edu-button button {
    width: 140px;
    height: 46px;
    border-radius: 4px;
    margin-left: 20px;
  }
}

@media (max-width: 540px) {
  .edu__container {
    margin-top: 30px;
    padding-top: 30px;
  }
  .edu__container .edu__container__wrap .edu-latarbelakang h2 {
    font-size: 16px;
  }
  .edu__container .edu__container__wrap .edu-latarbelakang-sd, .edu__container .edu__container__wrap .edu-latarbelakang-smp, .edu__container .edu__container__wrap .edu-latarbelakang-sma {
    padding: 20px 0 5px 0;
  }
  .edu__container .edu__container__wrap .edu-latarbelakang-sd h3, .edu__container .edu__container__wrap .edu-latarbelakang-smp h3, .edu__container .edu__container__wrap .edu-latarbelakang-sma h3 {
    font-size: 14px;
  }
  .edu__container .edu__container__wrap .edu-form {
    padding: 20px 0;
  }
  .edu__container .edu__container__wrap .edu-form .edu-form-1, .edu__container .edu__container__wrap .edu-form .edu-form-2, .edu__container .edu__container__wrap .edu-form .edu-form-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0px;
  }
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-name p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-provinsi p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-kota p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-tahunmasuk p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-tahunkeluar p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-short p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-short p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-short p, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-name p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-provinsi p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-kota p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-tahunmasuk p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-tahunkeluar p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-short p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-short p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-short p, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-name p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-provinsi p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-kota p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-tahunmasuk p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-tahunkeluar p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-short p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-short p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-short p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-name input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-provinsi input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-kota input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-tahunmasuk input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-tahunkeluar input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-short input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-short input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-short input, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-name input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-provinsi input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-kota input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-tahunmasuk input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-tahunkeluar input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-short input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-short input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-short input, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-name input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-provinsi input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-kota input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-tahunmasuk input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-tahunkeluar input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-short input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-short input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-short input {
    width: 75vw;
    height: 36px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-short-x p, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-short-x p, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-short-x p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-short-x input, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-short-x input, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-short-x input {
    width: 75vw;
    height: 36px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-long p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-long p,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-long p, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-long p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-long p,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-long p, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-long p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-long p,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-long p {
    font-size: 14px;
    margin-bottom: 10px;
  }
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-1-long input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-2-long input,
  .edu__container .edu__container__wrap .edu-form .edu-form-1 .edu-form-3-long input, .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-1-long input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-2-long input,
  .edu__container .edu__container__wrap .edu-form .edu-form-2 .edu-form-3-long input, .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-1-long input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-2-long input,
  .edu__container .edu__container__wrap .edu-form .edu-form-3 .edu-form-3-long input {
    width: 75vw;
    height: 36px;
    padding-left: 10px;
    margin-bottom: 20px;
  }
  .edu__container .edu__container__wrap .edu-plus-workshop, .edu__container .edu__container__wrap .edu-plus-prestasi, .edu__container .edu__container__wrap .edu-plus-bahasa, .edu__container .edu__container__wrap .edu-plus-organisasi, .edu__container .edu__container__wrap .edu-plus-talent {
    width: 75vw;
    height: 48px;
    margin-top: 30px;
    padding: 0 10px;
    font-size: 12px;
  }
  .edu__container .edu__container__wrap .edu-plus-workshop img, .edu__container .edu__container__wrap .edu-plus-prestasi img, .edu__container .edu__container__wrap .edu-plus-bahasa img, .edu__container .edu__container__wrap .edu-plus-organisasi img, .edu__container .edu__container__wrap .edu-plus-talent img {
    width: 25px;
    margin-right: 10px;
  }
  .edu__container .edu__container__wrap .edu-button {
    padding: 25px 0;
  }
  .edu__container .edu__container__wrap .edu-button button {
    width: 140px;
    height: 46px;
    border-radius: 4px;
    margin-left: 20px;
  }
}
/*# sourceMappingURL=dataPendidikan.css.map */